.node {
	a {
		text-decoration: none;
	}
	.container {
		// max-width: 768px;
	}
	.node-wrap {
		background-color: #fff;
		padding: 10px;
	}
	.icon {
		height: 20px;
		vertical-align: middle;
		margin-right: 5px;
	}
	.topic-list {
		padding-top: 10px;
		border-top: 2px solid #000;
	}
}
@media screen and (max-width: 768px) {
	.node {
		.node-wrap {
			border-radius: 3px;
		}
	}
}
